.card {
  @apply w-64 rounded-xlg overflow-hidden shadow-lg flex-col flex;
}
.image-container {
  width: 100%;
  height: 150px;
  overflow: hidden;
  background-color: #000;
  img {
    object-fit: cover;
    object-position: 50% 50%;
    min-height: 100%;
  }
  div {
    picture {
      opacity: 1;
      -webkit-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
    }
  }
}
