.card {
  -webkit-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.29);
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.29);
  @apply w-64 rounded-xlg overflow-hidden flex-col flex;
}
.type-text {
  color: rgba(255, 255, 255, 0.3);
}
.image-container {
  width: 100%;
  height: 150px;
  overflow: hidden;
  background-color: #000;
  img {
    object-fit: cover;
    object-position: 50% 50%;
    min-height: 100%;
  }
  div {
    picture {
      opacity: 1;
      -webkit-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
    }
  }
}
