.card-content-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  pointer-events: none;
}

.card-content-container.open {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  padding: 40px;
}

.card-open-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay {
  z-index: 1;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  will-change: opacity;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
}

.overlay a {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  left: 0;
}

.card-content {
  pointer-events: auto;
  position: relative;

  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  -webkit-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.29);
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.29);
  @apply w-64 rounded-xlg overflow-hidden flex-col flex;
}

.open .card-content {
  height: auto;
  max-width: 700px;
  overflow: hidden;
}
